/* Boton Arriba - Go Top */

.go-top-container{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 66px;
    height: 66px;
    z-index: -1;
}
.go-top-button{
    width: 0;
    height: 0;
    background: #004b60;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
    z-index: -1;
}
.go-top-button i{
    position: absolute;
    font-size: 17px;
    top: 48%;
    left: 50%;
    transform: translate(-50, -50) scale(0);
    color: #fff;
    transition: .2s;
}
.show{
    z-index: 800;
}
.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 66px;
    height: 66px;
    z-index: 801;
}
.show i{
    transform: translate(-50%, -50%) scale(1);
}
@keyframes popup{
    0%{
        width: 0;
        height: 0;
    }
    50%{
        width: 80px;
        height: 80px;
    }
    100%{
        width: 66px;
        height: 66px;
    }
}